.main {
margin:auto;
width:300px;

    text-align: center;
}

.row{
    width:100%;
    display: flex;
}

.left{
    text-align: left;
    width:50%
}

.right{
    text-align: right;
    width:50%;
}